/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-flow: row wrap;
}

.hebergements-cards .card {
    width: 30%;
}

.card-link {
    margin-left: 0;
    margin-right: 0;
}

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 124px;
}

.hebergements-cards .card-rating {
    margin-bottom: 10px;
}

.hebergements-cards .card-content {
    margin-left: 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**HEADER**/

header {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

a:hover {
    color: #0065FC;
}

.card-link-hebergement {
    margin: 0%;
}

.card-link-populaires {
    display: flex;
    margin: 0%;
    width: 100%;
}

.card-link-activites {
    width: 100%;
    margin: auto;
}

.link1 {
    padding-top: 30px;
}

.link1:hover {
    border-top: #0065FC solid 2px;
}

.logo {
    width: 61px;
    height: 19px;
}

/**FORMULAIRE**/

.titre-formulaire {
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.icone-localisation {
    color: black;
    background-color: #F2F2F2;
    border: #F2F2F2 solid 2px;
    border-radius: 15px 0 0 15px;
    padding: 10px;
}

.formulaire {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 33px;
    margin: 10px;
    padding-bottom: 20px;
}
.validation-recherche >button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.validation-recherche {
    color: white;
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
}

input[type=text] {
    border: none;
}

input::placeholder {
    font-weight: bold;
    color: black;
}

.recherche {
    color: black;
    border: #F2F2F2 solid 1px;
    padding: 10px;
}

.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px;
    font-weight: 700;
}
.bordure-filtres:hover {
    background-color: #DEEBFF;
}
.bordure-filtres {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: #d9d9d9 solid 2px;
    border-radius: 30px;
    padding: 5px 30px 5px 30px;
}

.information-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.icone-information {
    box-sizing: content-box;
    border: 1px #d9d9d9 solid;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

/**ACTIVITÉS**/

.activites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 50px 30px 50px;
    gap: 30px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    border-radius: 20px;
    width: 25%;
}

.activites-cards img {
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.activites-cards .card-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    border-radius: 0px 0px 20px 20px;
}

.activites-cards .card-title {
    margin: 20px 19px 20px 1px;
}
/**FOOTER**/

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    background: #F2F2F2;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px
}

.bold {
    font-weight: 700;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 1024px) and (max-width: 1140px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}